{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}
	<div class='row'>
		<div class='col-sm-4 pull-left'>
			<h1>{{ product }}
			</h1>
			{% for img in images %}
				{% if img.title %}
					<img src="{{ MEDIA_URL }}{{ img.image }}" width='300' />  
					<hr>
				{% endif %}
			{% endfor %}
			<ul>
				{% for category in categories %}
					<li>Category :{{ category }}</li>
				{% endfor %}
			</ul>
			{% if related %}
				<h1>Related Product{% if realted|length > 1 %}s{% endif %} </h1>
				<ul>
				{% for item in related %}
					<li>
						<a href="{{ item.get_absolute_url }}">{{ item }}</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div class='col-sm-4 pull-right'>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Product :{{ product }}</h3>
			  </div>
			  <div class="panel-body">
			    {{ product.description }}
			   </br>
			   <p>Year of purchase:{{ product.yearofpurchase }}</p>
			   </br>
			   	ActualPrice: Rs{{ product.price }}
			   	</br>
			    SalePrice : Rs{{ product.sale_price }}

			    </br>
			    </br>
			    {% if active %}
				    {% if not edit %}
					    {% if in_cart %}
							in cart<a class='btn btn-success' href='{% url "cart" %}'>View cart</a>
						{% else %}
							<a class='btn btn-primary' href='{% url "add_to_cart" product.id %}'>Add to cart</a>
						{% endif %}
					{% endif %}
				{% endif %}
			  </div>
			</div>
			{% if edit %}
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Actions</h3>
				  </div>
				  <div class="panel-body">
				    {% if edit %}

				    	<div class="btn-group" role="group" aria-label="...">
				    		{% if active %}
						  		<!--<a type="button" class="btn btn-default" href="{% url "mark_product_as_sold" product.slug %}">Mark as sold</a>  -->
						  		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmsold">Mark as sold</button>
							{% else %}	
								<a type="button" class="btn btn-default" >sold</a>	
							{% endif %}				  

						  	<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    Action <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="{% url "edit_product" product.slug %}">Edit</a></li>
							    <li class="divider"></li>
							    <li><a href="{% url "manage_product_image" product.slug %}">Manage images</a></li>
							  </ul>
							</div>

						</div>

					{% endif %}
				  </div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<h2>Comments</h2>
        {% for comment in product.productcomments_set.all %}    <!--article.comment_set.all returnslist of comment associated with article, artcile.comment is used since there is artile comment relationship!-->
            <p>{{ comment.commenter }} : {{ comment.comment }}</p>  
            <hr>   
        {% endfor %}
        <p><a href="/products/{{ product.slug }}/addcomment" class="btn btn-primary"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Add comment</a></p>
	</div>



	<div class="modal fade" id="confirmsold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<h4 class="modal-title" id="myModalLabel">Confirm Product as sold</h4>
        </div>
        <div class="modal-body">
          <p>Marking this product as sold will make this product unavailable for buying.If you have sold this product to a buyer
            then mark this as sold.Once marked as sold,cannot be changed back.
          </p>
        </div>
        <div class="modal-footer">
        <a type="button" class="btn btn-default" href="{% url "mark_product_as_sold" product.slug %}">OK</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      </div>
    </div>



{% endblock %}