{% extends "base.html" %}
{% block content %}
<div class="row">
	<p><h2>My Profile</h2></p>
	<h3>
		<p>Name : {{ profile.user }}</p>
		{% if profile.total_products > 0 %}
			<p>Total products for sale : {{ profile.total_products }} </p><p><a href='{% url "user_products" %}'><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>View all</a></p>
		{% else %}
			<p>Total products for sale : {{ profile.total_products }} </p>
		{% endif %}
		<p>Total orders : {{ profile.total_orders }}</p>
		{% if orders %}
			<p>My Orders:</p>
			{% for order in orders %}
				<p><a href="{% url "single_product" order.order.slug %}">{{ order.order }}</a> 
			{% endfor %}
		{% endif %}
	</h3>
</div>
{% endblock %}
