{% extends "base.html" %}
{% block content %}
</br>
<h3><p>searched results for</p> {{ query }}</h3>
<ol>
	{% for product in products %}
		<li>
			{% for image in product.productimage_set.all %}
				{% if image.featured_image %}
					<img src='{{ MEDIA_URL }}{{ image.image }}' width='300' />
				{% endif %}
			{% endfor %}
		</br>
			<h3>{{ product }}</h3>
			<p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">View Product</a> 
		</li>    
	{% endfor %}
</ol>
{% endblock %}