{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class='row'>
	<div class='col-sm-4 pull-left'>
		<h1>{{ product }}
		</h1>
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
			<ol class="carousel-indicators">
				{% for img in images %}
					{% if forloop.counter == 1 %}
			        	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			        {% endif %}
			        {% if forloop.counter == 2 %}
		        		<li data-target="#myCarousel" data-slide-to="1"></li>
		        	{% endif %}
		        	{% if forloop.counter == 3 %}
		        		<li data-target="#myCarousel" data-slide-to="2"></li>
		        	{% endif %}
		        	{% if forloop.counter == 4 %}
		        		<li data-target="#myCarousel" data-slide-to="3"></li>
		        	{% endif %}
		        {% endfor %}
	      	</ol>
	      	<div class="carousel-inner products-slide" role="listbox">
				{% for img in images %}
					{% if forloop.counter == 1 %}
						<div class="item active">
				          	<img class="first-slide img-responsive center-block" src="{{ MEDIA_URL }}{{ img.image }}" alt="First slide">
				          	{% if img.title %}
								<div class="container">
			            			<div class="carousel-caption product-title">
			              				<p>{{ img.title }}</p>
			            			</div>
			          			</div>
		          			{% endif %}
				        </div>
				    {% endif %}
				    {% if forloop.counter == 2 %}
				        <div class="item">
				          	<img class="second-slide img-responsive center-block" src="{{ MEDIA_URL }}{{ img.image }}" alt="Second slide">
				          	{% if img.title %}
								<div class="container">
			            			<div class="carousel-caption product-title">
			              				<p>{{ img.title }}</p>
			            			</div>
			          			</div>
		          			{% endif %}
				        </div>
			        {% endif %}
			        {% if forloop.counter == 3 %}
				        <div class="item">
				          	<img class="third-slide img-responsive center-block" src="{{ MEDIA_URL }}{{ img.image }}" alt="Third slide">
				          	{% if img.title %}
								<div class="container">
			            			<div class="carousel-caption product-title">
			              				<p>{{ img.title }}</p>
			            			</div>
			          			</div>
		          			{% endif %}
				        </div>
				    {% endif %}
				    {% if forloop.counter == 4 %}
				        <div class="item">
				          	<img class="fourth-slide img-responsive center-block" src="{{ MEDIA_URL }}{{ img.image }}" alt="Fourth slide">
				          	{% if img.title %}
								<div class="container">
			            			<div class="carousel-caption product-title">
			              				<p>{{ img.title }}</p>
			            			</div>
			          			</div>
		          			{% endif %}
				        </div>
				    {% endif %}
				{% endfor %}
		    </div>
	      	{% if images|length > 1 %}
		      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		      </a>
		      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		      </a>
		   	{% endif %}
		</div>
		<div class="show-categ">
			{% for category in categories %}
				<a href='{% url "category_products" category %}'>More {{ category }}</a>
			{% endfor %}
		</div>
	</div>
	<div class='col-sm-4 pull-right'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Product :{{ product }}</h3>
		  </div>
		  <div class="panel-body">
		    {{ product.description }}
		   </br>
		   <p>Year of purchase:{{ product.yearofpurchase }}</p>
		   <p>Owner :{{ product.user }}</p>
		   <p>Owner's college:{{ product.ownercollege }}</p>
		   </br>
		   	ActualPrice: Rs{{ product.price }}
		   	</br>
		    SalePrice : Rs{{ product.sale_price }}
			</br>
		    </br>
		    {% if active %}
			    {% if not edit %}
				    {% if in_cart %}
						in cart<a class='btn btn-success' href='{% url "cart" %}'>View cart</a>
					{% elif product in ordered_products %}
						<div class="alert alert-info" role="alert">You've already ordered this product</div>
					{% else %}
						<a class='btn btn-primary' href='{% url "add_to_cart" product.id %}'>Add to cart</a>
					{% endif %}
				{% endif %}
			{% endif %}
		  </div>
		</div>
		{% if edit %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Actions</h3>
			  </div>
			  <div class="panel-body">
			    {% if edit %}
			    	<div class="text-center">
				    	<div class="btn-group" role="group" aria-label="...">
				    		{% if active %}
						  		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmsold">Mark as sold</button>
							{% else %}	
								<a type="button" class="btn btn-default" >sold</a>	
							{% endif %}				  

						  	<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    Action <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="{% url "edit_product" product.slug %}">Edit</a></li>
							    <li class="divider"></li>
							    <li><a href="{% url "manage_product_image" product.slug %}">Manage images</a></li>
							  </ul>
							</div>

						</div>
					</div>
				{% endif %}
			  </div>
			</div>
		{% endif %}
		{% if edit %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Buy Requests</h3>
			  </div>
			  <div class="panel-body">
			    {% if edit %}
			    	<div class="text-center">
				    	<div class="btn-group" role="group" aria-label="...">
				    		{% if active %}
				    			{% for order in user_orders %}
				    				{% if not order.confirmed and not order.rejected %}
							  			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmorder">buy request from user {{ order.buyer }}</button>
											<div class="modal fade" id="confirmorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										      <div class="modal-dialog">
										      <div class="modal-content">
										        <div class="modal-header">
										        	<h4 class="modal-title" id="myModalLabel">Confirm this order</h4>
										        </div>
										        <div class="modal-body">
										          <p>user {{ order.buyer }} wants to buy this product.You can contact the user at {{ order.buyer.email }}.If you confirm this order we will share your contact details with buyer and buyer will be notified about this confirmation, if 
										          	you reject this order we won't share any of your contact details with buyer and buyer will not be notified about this rejection.
										          </p>
										        </div>
										        <div class="modal-footer">
										        <a type="button" class="btn btn-default" href="{% url "confirmorder" product.slug %}">Confirm order</a>
										        <a type="button" class="btn btn-default" href="{% url "rejectorder" product.slug %}">Reject order</a>
										        <button type="button" class="btn btn-default" data-dismiss="modal">Save for later</button>
										        </div>
										      </div>
										      </div>
										    </div>
										{% endif %}
						  		{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endif %}
			  </div>
			</div>
		{% endif %}
	</div>
</div>
<div class="row">
    {% if related %}
    	<h1>Related Product{% if related|length > 1 %}s{% endif %} </h1>
      	{% for product in related %}
      		{% if forloop.counter <= 3 and user != product.user %}
	        	<div class="col-sm-4" style='text-align: center;'>
		          	<div class="thumbnail">
		            	{% for image in product.productimage_set.all %}
		              		{% if image.featured_image %}
		                  		<a href="{% url "single_product" product.slug %}">
		                    		<img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
		                  		</a>
		              		{% endif %}
		            	{% endfor %}
		            	<div class="caption">
		                	<h3>{{ product }}</h3>
		                	<p><a href="{% url "single_product" product.slug %}" class="btn btn-primary" role="button">View Product</a> 
		                	</p>
		            	</div>
		          	</div>
	        	</div>
        	{% endif %}
      	{% endfor %}
    {% endif %}
</div>
{% if related|length > 3 %}
	<a class="btn btn-primary pull-right" href='{% url "category_products" category %}'>View more</a>
{% endif %}
<div class="row">
	<h2>Comments</h2>
    {% for comment in product.productcomments_set.all %}   
        <p>{{ comment.commenter }} : {{ comment.comment }}</p>  
        <hr>   
    {% endfor %} 
    <form method='POST' action=''> {% csrf_token %}
    	{{ cform.as_p }}
		<button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Post Comment</button>
	</form>
</div>
<div class="modal fade" id="confirmsold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    	<h4 class="modal-title" id="myModalLabel">Confirm Product as sold</h4>
    </div>
    <div class="modal-body">
      <p>Marking this product as sold will make this product unavailable for buying.If you have sold this product to a buyer
        then mark this as sold.Once marked as sold,cannot be changed back.
      </p>
    </div>
    <div class="modal-footer">
    <a type="button" class="btn btn-default" href="{% url "mark_product_as_sold" product.slug %}">OK</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
  </div>
</div>
{% endblock %}