{% extends "base.html" %}

{% block content %}

<p><h1>Recently Viewed Products</h1></p>

<div class="row">
  {% if unique_recent_products_obj %}
  {% for product in unique_recent_products_obj %}
    <div class="col-sm-4" style='text-align: center;'>
      <div class="thumbnail">
        {% for image in product.productimage_set.all %}
          {% if image.featured_image %}
              <a href="{% url "single_product" product.slug %}">
                <img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
              </a>
          {% endif %}
        {% endfor %}
          <!-- single_product needs parameter !-->
          <div class="caption">
              <h3>{{ product }}</h3>
              <p><a href="{% url "single_product" product.slug %}" class="btn btn-primary" role="button">View Product</a> 
              </p>
            </div>
      </div>
    </div>
  {% cycle '' '' '</div><hr/><div class="row">' %}
  {% endfor %}
  {% endif %}
</div>

{% endblock %}

