<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ STATIC_URL }}images/sitelogo.png">
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <title>Hassle free buying and selling</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/navbar-fixed-top.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
 	<style>
 		body {
 			min-height: 1100px;
 		}
 		.navbar-static-top: {
 			margin-bottom: 19px;
 		}
 	</style>
  <style type="text/css">
      body { background: #E8E8E8 ; }
  </style>
  <script src="{{ STATIC_URL }}js/ie-emulation-modes-warning.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href='{% url "home" %}'><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle products-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              products <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" id='products_dropdown'>
              </ul>
            </li>
            <li>
                <form class="navbar-form navbar-left" role="search" action='{% url "search" %}'>
                  <div class="form-group">
                    <input type="text" class="form-control" name='q' placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                </form>

            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href='{% url "cart" %}'><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>View Cart</a></li>
            {% if user.is_authenticated %}
              <li><a href='{% url "add_product" %}'><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>Sell Product</a></li>
              <li><a href='{% url "user_products" %}'><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>My Products</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle notification-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
              Notifications<span class="numbernotifications"></span> <span class="caret"></a>
              <ul class="dropdown-menu" role="menu" id='notification_dropdown'>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=''>Account Info</a></li>
                <li class="divider"></li>
                <li><a href='{% url "user_products" %}'>My products</a></li>

                <li class="divider"></li>
                <li><a href='{% url "logout" %}'>Logout</a></li>
              </ul>
            </li>
            {% else %}
              <li><a href='{% url "register" %}'>Register</a></li>
              <li><a href='{% url "login" %}'>Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
    </div> 
    <div class="container">
        <div id='notificationsLoader'></div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% elif 'warning' in message.tags %}alert-warning
            {%else %}alert-success{% endif %}" role="alert">{% if 'safe' in message.tags %}{{ message|safe }}{% else %} {{ message }}{% endif %}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <h4 class="copyright">Copyright Rajat Kumar Singh 2015
      </br><a href="#" data-toggle="modal" data-target="#credits">Credits</a></h4>
        <h4 class="contact"><a href="#" data-toggle="modal" data-target="#contactus">Contact us</a>
        </br><a href="#" data-toggle="modal" data-target="#aboutus">About Us</a></h4>
        <h4 class="social"><a href="https://github.com/rajats/easy-buy-sell-college-things-web-app">Github</a></h4>
      </div>
    </footer>
    <div class="modal fade" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">About us</h4>
        </div>
        <div class="modal-body">
          <p>We are trying to make used things not considered as waste.By making this site we are enhancing the value of
            used products.What you think is useless may be a need for someone.You never know.So start selling your
            things and make yourself and buyer happy.
          </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      </div>
    </div>
    <div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">credits</h4>
        </div>
        <div class="modal-body">
          <p>Thanks to</br>djangoproject</br>django documentation</br>codingforentrepreneurs</br>The django book
          </br>countless supportive people and organization
          </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      </div>
    </div>
    <div class="modal fade" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">contact us</h4>
        </div>
        <div class="modal-body">
          <p>You can contact us through email at rajatk@outlook.in</br>
            Help us improve this site by suggesting changes, feature addtion, finding bugs etc
          </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      </div>
    </div>
    <div id="loading" style="display: none; text-align:center;">
      <img src="{{ STATIC_URL }}images/loading.gif" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
      $(document).ready(function(){
        $(".notification-toggle").click(function(e){
          e.preventDefault();
          $("#loading").show();
          $.ajax({                                         
            type: "POST",                                  
            url: "{% url 'get_notifications_using_ajax' %}",
            data: {                                         
              csrfmiddlewaretoken: "{{ csrf_token }}",       
            },
            success: function(data){
              $("#loading").hide();
              console.log(data.count)
              if(data.count==0)
                $("#notification_dropdown").html('<div><a href="{% url 'notifications_all' %}">View all notifications</a></div>');
              else
                $("#notification_dropdown").html('<div id="mark-all"><a href="#">Mark all as read</a></div>');
              $("#mark-all").click(function(e){
                e.preventDefault();
                $("#loading").show();
                $.ajax({                                         
                    type: "POST",                                  
                    url: "{% url 'mark_all_as_read' %}",
                    data: {                                         
                      csrfmiddlewaretoken: "{{ csrf_token }}",       
                    },
                    success: function(data){
                      $("#loading").hide();
                    },
                    error: function(rs, e) {  
                      $("#loading").hide();                         
                      console.log(rs);
                      console.log(e);
                    }
                  }) 
                })
                $(data.notifications).each(function(){                 
                  $("#notification_dropdown").append("<li>"+this+"<hr/>"+"</li>")    
                })
                console.log(data.notifications);                  
            },
            error: function(rs, e) {                            
              $("#loading").hide();
              console.log(rs);
              console.log(e);
            }
          })
        })
      })
    </script>
    <script>
      $(document).ready(function(){
        $(".products-toggle").one('click', function(e) {
          e.preventDefault();
          $("#loading").show();
          $.ajax({
            type: "POST",
            url: "{% url 'get_products_categories_using_ajax' %}",
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function(data){ 
                $("#loading").hide();
                for (var i = 0; i < data.categories.length; i++) {
                  if(i==0)
                    $("#products_dropdown").append('<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "all_products" %}">' + data.categories[i] + "</li>"+' <li class="divider"></li>')
                  else{
                    var link="/products/'param'/category"
                    link = link.replace('param', data.category_slugs[i]);
                    link = link.replace(/["']/g, "");
                    $("#products_dropdown").append('<li role="presentation"><a role="menuitem" tabindex="-1" href='+link+'>' + data.categories[i] + "</li>"+' <li class="divider"></li>')
                  }              
                }
                console.log(data.category_slugs);
            },
            error: function(rs, e) {
              $("#loading").hide();
              console.log(rs);
              console.log(e);
            }
          })
        })
      })
    </script>
    <script>
      $(document).ready(function checknotificaions() {
        $.ajax({                                         
          type: "POST",                                  
          url: "{% url 'get_notifications_using_ajax' %}",
          data: {                                         
            csrfmiddlewaretoken: "{{ csrf_token }}",       
          },
          success: function(data){
            if(data.count>0)
              $(".numbernotifications").html('<span class="badge">'+data.count+'</span>')
          },
          complete: function() {
            setTimeout(checknotificaions, 20000);
          },
          error: function(rs, e) {  
            $("#loading").hide();                          
            console.log(rs);
            console.log(e);
          }
        })
      })
    </script>
  </body>
</html>
