{% extends "base.html" %}

{% block content %}

{% block jumbotron %}

      <div class="jumbotron">
        <h1>Easy Buy or Sell anything</h1>
        <p>This site is for collge students to buy/sell their college related things(it can be anything from study related things such as books to non academic things like laptops, camera etc)</p>
        <p>Finding Buyers can never have been so easy...!!</p>
        <p>Just one click login to sell your products</p>
          <a class="btn btn-lg btn-primary" href='{% url "login" %}' role="button">Login now &raquo;</a>
        </p>
      </div>

{% endblock %}


<div class="row">
  {% for product in products %}
    <div class="col-sm-4" style='text-align: center;'>
      {% for image in product.productimage_set.all %}
        {% if image.featured_image %}
          <a href="{% url "single_product" product.slug %}">
            <img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
          </a>
        {% endif %}
      {% endfor %}
      <a href="{% url "single_product" product.slug %}">{{ product }}</a>
         <!-- single_product needs parameter !-->
    </div>
  {% cycle '' '' '</div><hr/><div class="row">' %}
  {% endfor %}
</div>
<p><h1>Top seller goes here</h1></p>
</br>
<p><h1>Most Bought products goes here</h1></p>



{% endblock %}


