{% extends "base.html" %}

{% block content %}

{% block jumbotron %}

      <div class="jumbotron">
        <h1>Easy Buy or Sell anything</h1>
        <p>This site is for collge students to buy/sell their college related things(it can be anything from study related things such as books to non academic things like laptops, camera etc)</p>
        <p>Finding Buyers can never have been so easy...!!</p>
        <p>Just one click login to sell your products</p>
        </p>
        {% if not user.is_authenticated %}
          <p>
              <a class="btn btn-lg btn-primary" href='{% url "login" %}' role="button">Login now &raquo;</a>
          
          </p>
        {% endif %}
      </div>

{% endblock %}


<div class="row">
  {% for product in products %}
    <div class="col-sm-4" style='text-align: center;'>
      {% for image in product.productimage_set.all %}
        {% if image.featured_image %}
          <a href="{% url "single_product" product.slug %}">
            <img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
          </a>
        {% endif %}
      {% endfor %}
      <a href="{% url "single_product" product.slug %}">{{ product }}</a>
         <!-- single_product needs parameter !-->
    </div>
  {% cycle '' '' '</div><hr/><div class="row">' %}
  {% endfor %}
</div>


<p><h1>Top Popular Products</h1></p>

<div class="row">
  {% if popular_products %}
  {% for product in popular_products %}
    <div class="col-sm-4" style='text-align: center;'>
      <div class="thumbnail">
        {% for image in product.productimage_set.all %}
          {% if image.featured_image %}
              <a href="{% url "single_product" product.slug %}">
                <img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
              </a>
          {% endif %}
        {% endfor %}
          <!-- single_product needs parameter !-->
          <div class="caption">
              <h3>{{ product }}</h3>
              <p><a href="{% url "single_product" product.slug %}" class="btn btn-primary" role="button">View Product</a> 
              </p>
            </div>
      </div>
    </div>
  {% cycle '' '' '</div><hr/><div class="row">' %}
  {% endfor %}
  {% endif %}
</div>

<br>
{% if user.is_authenticated %}
  <p><h1>You Recently Viewed</h1></p>

  <div class="row">
    {% if unique_recent_products_obj %}
    {% for product in unique_recent_products_obj %}
      <div class="col-sm-4" style='text-align: center;'>
        <div class="thumbnail">
          {% for image in product.productimage_set.all %}
            {% if image.featured_image %}
                <a href="{% url "single_product" product.slug %}">
                  <img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
                </a>
            {% endif %}
          {% endfor %}
            <!-- single_product needs parameter !-->
            <div class="caption">
                <h3>{{ product }}</h3>
                <p><a href="{% url "single_product" product.slug %}" class="btn btn-primary" role="button">View Product</a> 
                </p>
              </div>
        </div>
      </div>
    {% cycle '' '' '</div><hr/><div class="row">' %}
    {% endfor %}
    {% endif %}
  </div>
  <a class="btn btn-primary pull-right" href='{% url "morerecents" %}'>View more</a>
{% else %}
  <p><h1>Recently searched products</h1></p>

  <div class="row">
    {% if unique_recent_products_obj %}
    {% for product in unique_recent_products_obj %}
      <div class="col-sm-4" style='text-align: center;'>
        <div class="thumbnail">
          {% for image in product.productimage_set.all %}
            {% if image.featured_image %}
                <a href="{% url "single_product" product.slug %}">
                  <img class="img-responsive" src='{{ MEDIA_URL }}{{ image.image }}' style='max-height:170px; margin: 0 auto;' />
                </a>
            {% endif %}
          {% endfor %}
            <!-- single_product needs parameter !-->
            <div class="caption">
                <h3>{{ product }}</h3>
                <p><a href="{% url "single_product" product.slug %}" class="btn btn-primary" role="button">View Product</a> 
                </p>
              </div>
        </div>
      </div>
    {% cycle '' '' '</div><hr/><div class="row">' %}
    {% endfor %}
    {% endif %}
  </div>
  <a class="btn btn-primary pull-right" href='{% url "morerecents" %}'>View more</a>
{% endif %}
{% endblock %}

