{% extends "base.html" %}

{% block content %}

{% if exists %}
	<h1>Cart</h1>
	<table>
		<thead>
			<th>Item</th>
			<th></th>
			<th>Price</th>
		</thead>
		{% for item in cart.cartitem_set.all %}
		<tr>
			<td>
				{{ item.product }}
			</td>
			<td>
			</td>
			<td>
				{{ item.product.get_price }}
			</td>
			
			<td>
				</br><a href='{% url "delete_from_cart" item.product.id %}'><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
			</td>
			<td>
				Buy this item
			</td>
			<td>
				<a href="#" class="btn btn-primary buynow" role="button">Buy Now</a> 


				<script>
				    $(document).ready(function(){
				      $(".buynow").click(function(e){
				        e.preventDefault();
				        $("#loading").show();
				        $.ajax({
				          type: "POST",
				          url: "{% url 'buy' item.product.slug %}",
				          data: {
				            csrfmiddlewaretoken: "{{ csrf_token }}",
				          },
				          success: function(data){ 
				              $("#loading").hide();
				              if(data.ordered==1)
				              	$('#buyrequest').modal('show'); 
				              else
				              	$('#unregbuyrequest').modal('show'); 
				          },
				          error: function(rs, e) {
				            $("#loading").hide();
				            console.log(rs);
				            console.log(e);
				          }
				        })
				      })
				    })
				</script>

			</td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>Your total :</td>
			<td>{{ cart.total }}</td>
		</tr>
	</table>
{% else %}
	<h1>  <div class="alert alert-warning" role="alert">Your cart is empty</div> </h1>
{% endif %}

    <div class="modal fade" id="buyrequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Buy request created</h4>
        </div>
        <div class="modal-body">
          <p>A buy request for this product has been created for you and we have inforrmed the seller about your
          	buy request.Your contact details has been shared with seller and if seller wants to sell this product
          	to you, you will soon receive a confirmation from seller.</br>
          	Thank you! for using our site..!!we are waiting for your next order..!!
          </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      </div>
    </div>

    <div class="modal fade" id="unregbuyrequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Buy request created</h4>
        </div>
        <div class="modal-body">
          <p>Please login to buy this product!!</br>
          </p>
          <a class='btn btn-primary' href='{% url "login" %}'>Login</a>
          <a class='btn btn-primary' href='{% url "register" %}'>Register</a>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      </div>
    </div>

{% endblock %}