{% extends "base.html" %}

{% block content %}

{% if exists %}
<h1>Cart</h1>
<table>
	<thead>
		<th>Item</th>
		<th></th>
		<th>Price</th>
	</thead>
	{% for item in cart.cartitem_set.all %}
	<tr>
		<td>
			{{ item.product }}
		</td>
		<td>
		</td>
		<td>
			{{ item.product.get_price }}
		</td>
		
		<td>
			</br><a href='{% url "delete_from_cart" item.product.id %}'><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
		</td>
		<td>
			Buy this item
		</td>
		<td>
			<a href="{% url "buy" item.product.slug %}" class="btn btn-primary" role="button">Buy Now</a> 		
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td></td>
		<td>Your total :</td>
		<td>{{ cart.total }}</td>
	</tr>
</table>
{% else %}
	<h1>  <div class="alert alert-warning" role="alert">Your cart is empty</div> </h1>
{% endif %}
{% endblock %}